<hgroup>
    <h2>Lista de usuarios</h2>
    <h5 class="btn pull-right"><a href="<?php echo $this->baseUrl('/usuario/agregar') ?>"><i class="icon-plus-sign"></i>Agregar</a></h5>
</hgroup>

<?php
$session = new Zend_Session_Namespace('session');
$id = $session->institucion;
$user = $session->usuario;
$i = true;
?>
<div>
    <?php $niveles = array("Administrador", "Usuario A", "Usuario B"); ?>
    <table class="table table-bordered">

        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Usuario</th>
            <th>Nivel</th>            
            <th>Institucion</th>
            <th>Ultimo acceso</th>
            <th>Estado</th>
        </tr>



        <?php foreach ($this->usuarios as $usuario): ?>
            <?php if ($id < 2): $i = false ?>
                <tr>            
                    <td><?php echo $usuario->nombre ?></td>
                    <td><?php echo $usuario->email ?></td>
                    <td><?php echo $usuario->usuario ?></td>
                    <td><?php echo $niveles[(int) $usuario->nivel] ?></td>
                    <td><?php echo $usuario->nombrei ?></td>
                    <td><?php echo $usuario->fechaacceso ?></td>
                    <td style='text-align: center ;color:<?php echo ($usuario->estado == 1) ? "green" : "red"; ?>'><?php echo ($usuario->estado == 1) ? "Activo" : "Inactivo"; ?></td>
                    <td style="width: 70px;"><button class="btn" onclick="location.href = '<?php echo $this->baseUrl('/usuario/update/idusuarios/') ?><?php echo $usuario->idusuarios ?>'"><i class="icon-pencil"></i>Editar</button></td>
                    <td style="width: 90px;"><button class="btn btn-danger" onclick="if (confirm('Esta seguro'))
                                location.href = '<?php echo $this->baseUrl('/usuario/delete/idusuarios/') ?><?php echo $usuario->idusuarios ?>'"><i class="icon-remove-sign"></i>Eliminar</button></td>
                </tr>
            <?php else: ?>
                <?php if ($usuario->idinstituciones == $id && $usuario->nivel == 2) : $i = false ?>
                    <tr>            
                        <td><?php echo $usuario->nombre ?></td>
                        <td><?php echo $usuario->email ?></td>
                        <td><?php echo $usuario->usuario ?></td>
                        <td><?php echo $niveles[(int) $usuario->nivel] ?></td>
                        <td><?php echo $usuario->nombrei ?></td>
                        <td><?php echo $usuario->fechaacceso ?></td>
                        <td style='text-align: center ;color:<?php echo ($usuario->estado == 1) ? "green" : "red"; ?>'><?php echo ($usuario->estado == 1) ? "Activo" : "Inactivo"; ?></td>  
                        <td style="width: 70px;" ><button class="btn" onclick="location.href = '/usuario/update/idusuarios/<?php echo $usuario->idusuarios ?>'"><i class="icon-pencil"></i>Editar</button></td>
                        <td style="width: 90px;"><button class="btn btn-danger" onclick="if (confirm('Esta seguro'))
                                    location.href = '<?php echo $this->baseUrl('/usuario/delete/idusuarios/') ?><?php echo $usuario->idusuarios ?>'"><i class="icon-remove-sign"></i>Eliminar</button></td>
                    </tr>
                <?php else: ?>
                    <?php if ($user->idinstituciones < 2 && $usuario->idinstituciones == $id && $usuario->nivel > 0):$i = false ?>
                        <tr>            
                            <td><?php echo $usuario->nombre ?></td>
                            <td><?php echo $usuario->email ?></td>
                            <td><?php echo $usuario->usuario ?></td>
                            <td><?php echo $niveles[(int) $usuario->nivel] ?></td>
                            <td><?php echo $usuario->nombrei ?></td>
                            <td><?php echo $usuario->fechaacceso ?></td>
                            <td style='text-align: center ;color:<?php echo ($usuario->estado == 1) ? "green" : "red"; ?>'><?php echo ($usuario->estado == 1) ? "Activo" : "Inactivo"; ?></td>  
                            <td style="width: 70px;" ><button class="btn" onclick="location.href = '<?php echo $this->baseUrl('/usuario/update/idusuarios/') ?><?php echo $usuario->idusuarios ?>'"><i class="icon-pencil"></i>Editar</button></td>
                            <td style="width: 90px;"><button class="btn btn-danger" onclick="if (confirm('Esta seguro'))
                                        location.href = '<?php echo $this->baseUrl('/usuario/delete/idusuarios/') ?><?php echo $usuario->idusuarios ?>'"><i class="icon-remove-sign"></i>Eliminar</button></td>
                        </tr>
                    <?php endif; ?>
                <?php endif; ?>
            <?php endif; ?>
        <?php endforeach; ?>
        <?php if ($i) { ?>
            <tr><td colspan="6">No hay suarios registrados</td></tr>
        <?php } ?>

    </table>
    <?php if (count($this->usuarios)): ?>
        <?php echo $this->usuarios; ?>
    <?php endif; ?>
</div>