<hgroup>
    <h2>Editar Usuario</h2>
    <h5 class="btn pull-right"><a href="<?php echo $this->baseUrl('/usuario/listar')?>"><i class="icon-list-alt"></i>Listar</a></h5>
</hgroup>
<div>
    <?php echo $this->form ?>
</div>