<?php $si = (count($this->imagenes) > 1) ?>
<style type="text/css">
    .imagenesCarro{
        text-align: center;
        overflow: hidden;
    }
    .imagenesCarro  img{
        height: auto;
        width: auto;
        max-height: 100%;
        max-width: 100%;
        margin: auto;
        position: absolute;
        top:0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .imagenesCarro p{
        display: none;
        width: 100%;
        height: 100%;
        margin: 0;        
        position: relative;
    }
    .imagenesCarro p:first-of-type{
        display: block;
    }
</style>

<div class="imagenesCarro" id="imagen<?php echo $this->idplayer; ?>" style="width: 100%; height: 100%;">
    <?php foreach ($this->imagenes as $i => $imagen) { ?>
        <p>
            <img src="<?php echo $this->baseUrl($imagen) ?>">
        </p>
    <?php }
    ?>
</div>
<?php if ($si) { ?>
    <script type="text/javascript">
        function Imagenes(ob, ef, time) {
            var hijos = $(ob).children();
            this.efecto = {
                1: "blind",
                2: "bounce",
                3: "clip",
                4: "drop",
                5: "explode",
                6: "fade",
                7: "fold",
                8: "highlight",
                9: "puff",
                10: "pulsate",
                11: "shake",
                12: "slide"
            };
            var efecto = this.efecto[ef];
            var primero = hijos.first();
            var actual = primero;
            var siguiente;
            this.cambiar = function () {
                actual.hide(efecto, 500, function () {
                    siguiente = actual.next("p");
                    if (!siguiente.length) {
                        siguiente = primero;
                    }
                    siguiente.show(efecto, 500);
                    actual = siguiente;
                });
            };
            setInterval(this.cambiar, time + 1000);
        }
        ;
        $(function () {
            new Imagenes("#imagen<?php echo $this->idplayer; ?>", <?php echo $this->configuracion->efecto ?>,<?php echo $this->configuracion->tiempotransicion * 1000 ?>);
        });
    </script>
<?php } ?>