<div style="width: 100%;height: 100%;">
    <marquee scrolldelay="100" scrollamount="5" direction="left" <?php if ($this->configuracion->repetir == 1) echo 'loop="infinite"'; ?>>
        <?php foreach ($this->noticias as $noticia): ?>
            <h4 style="float: left">
                Fecha: <?php echo $noticia->fechainicio; ?>
                &nbsp;<?php echo $noticia->texto; ?> 
                &nbsp;&nbsp; 
            </h4>
        <?php endforeach; ?>
    </marquee>
</div>