<div id="divv<?php echo $this->idplayer; ?>" style="width: 100%;height: 100%;">
</div>
<?php $max = sizeof($this->videos); ?>
<script>
    $(function() {
    flowplayer("divv<?php echo $this->idplayer; ?>", baseUrl+"js/flowplayer/flowplayer-3.2.12.swf", {

    clip : {
    autoPlay: true
    },
            playlist: [
<?php foreach ($this->videos as $i => $video) { ?>
    <?php if ($i + 1 == $max) { ?>
                    {
                    url:'<?php echo $this->baseUrl($video) ?>',
                            onBeforeFinish: function(){
                            return false;
                            }
                    }
    <?php } else { ?>
                    '<?php echo $this->baseUrl($video) ?>',
    <?php } ?>
<?php } ?>
            ]
    });
    });
</script>