<div style="width: 100%;height: 100%;">
    <iframe style="width: 100%; height: 100%"  src="https://www.youtube.com/embed/<?php echo$this->principal ?>?autoplay=1<?php echo $this->lista ?>&loop=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>