<link type="text/css" rel="stylesheet" href="<?php echo $this->baseUrl('/css/noticias/listar.css')?>"/>
<hgroup>
    <h2>Lista de Noticias</h2>
    <h5 class="btn pull-right"><a href="<?php echo $this->baseUrl('/noticia/agregar')?>"><i class="icon-plus-sign"></i>Crear</a></h5>
</hgroup>
<div id="tabla">
    <table class="table table-bordered">
        <tr>
            <th>Titulo</th>
            <th>Registrado</th>
            <th>Efecto</th>            
            <th>Tiempo</th>
            <th style="width: 10px;"></th>
            <th style="width: 10px;"></th>
        </tr>
        <?php foreach ($this->listas as $lista) : ?>
            <tr>
                <td><?php echo $lista->titulo; ?></td>
                <td><?php echo $lista->fecharegistro; ?></td>                
                <td><?php echo $lista->efecto; ?></td>
                <td><?php echo $lista->tiempotransicion; ?> seg</td>
                <td style="width: 10px;"><i class="<?php echo ($lista->repetir == 1) ? 'icon-retweet' : ''; ?>"></i></td>
                <td style="width: 10px;"><i class="<?php echo ($lista->aleatorio == 1) ? 'icon-random' : ''; ?>"></td>
                <td style="width: 70px;"><button onclick="location.href=baseUrl+'noticia/update/idmodulo/<?php echo $lista->idmodulonoticias; ?>'" class="btn btn-info btn-mini"><i class="icon-pencil"></i>Detalles</button></td>
                <td style="width: 70px;"><button  onclick="if(confirm('Esta seguro'))location.href=baseUrl+'noticia/eliminarlista/idlista/<?php echo $lista->idmodulonoticias; ?>'" class="btn btn-danger btn-mini"><i class="icon-remove-sign"></i>Eliminar</button></td>
            </tr>
        <?php endforeach; ?>
    </table>
</div>