<link type="text/css" rel="stylesheet" href="<?php echo $this->baseUrl('/css/noticias/agregar.css')?>"/>
<script type="text/javascript" src="<?php echo $this->baseUrl('/js/noticias/update.js')?>"></script>
<hgroup>
    <h2>Noticias de la lista</h2>    
</hgroup>
<div class="text-right">
    <a class="btn" href="<?php echo $this->baseUrl('/noticia/listar')?>"><i class="icon-plus-sign"></i>Listar</a>
</div>
<div class="izquierda">
    <h3>Nueva noticia</h3>
    <?php echo $this->form; ?>
</div>
<div class="derecha">
    <table class="table table-bordered">
        <tr>
            <th>Titulo</th>
            <th>Fecha</th>
            <th>Texto</th>
            <th style="width: 20px;"></th>
        </tr>
        <?php foreach ($this->noticias as $noticia): ?>
            <tr>
                <td><?php echo $noticia->titulo; ?></td>
                <td><?php echo $noticia->fechainicio; ?></td>
                <td><?php echo substr($noticia->texto,0,40)."..." ?></td>
                <th><button onclick="if(confirm('Esta seguro'))$.post(baseUrl + 'noticia/eliminarnoticia/idnoticia/<?php echo $noticia->idnoticias ?>',function(date){if(date=='OK')location.href=location.href;});" style="width: 20px;height: 20px; background-color: red; border-radius: 10px;"><i class="icon-remove-sign"></i></button></th>
            </tr>
        <?php endforeach; ?>
    </table>
</div>