<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('/css/esquemas/agregar.css') ?>"/>
<script type="text/javascript" src="<?php echo $this->baseUrl('/js/esquemas/agregar.js') ?>"></script>
<hgroup>
    <h2>Agregar esquema</h2>
    <h5 class="btn pull-right"><a href="<?php echo $this->baseUrl('/esquema/listar') ?>"><i class="icon-list-alt"></i>Listar</a></h5>
</hgroup>
<div id="izquierda">
    <?php echo $this->form ?>
</div>
<div id="derecha">
</div>