<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('/css/esquemas/configurar.css') ?>"/>
<script type="text/javascript" src="<?php echo $this->baseUrl('/js/esquemas/configurar.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/js/flowplayer/flowplayer-3.2.11.min.js') ?>"></script>
<hgroup>
    <h2>Configurar esquema</h2>
    <h5 class="btn pull-right"><a href="<?php echo $this->baseUrl('/esquema/listar') ?>"><i class="icon-list-alt"></i>Listar</a></h5>
</hgroup>
<div id="divPlantilla">
    <?php echo $this->configuracion->idtemplates ?>
</div>
<div style="margin-top: 35px;">
    <?php foreach ($this->divs as $div): ?>
        <button onclick="selDiv(<?php echo $div->numdiv ?>);$('#divselec').attr('value',<?php echo $div->iddivs ?>); $('#numdiv').attr('value',<?php echo $div->numdiv ?>);$('#selected h1').text(<?php echo $div->numdiv ?>);" style="float: left; margin-right: 10px"><?php echo $div->numdiv ?></button>
    <?php endforeach; ?>
    <input type="hidden" id="divselec" name="divselec"/>
    <input type="hidden" id="numdiv" name="numdiv"/>
    <input type="hidden" id="cantidad" name="cantidad" value="<?php echo count($this->divs) ?>"/>
    <div id="botones">
        <div class="btn-group">
            <button class="btn btn-warning"><i class="icon-film"></i> Videos</button>
            <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <?php foreach ($this->videos as $video): ?>
                    <li><a onclick=" actualizarDiv(1,<?php echo $video->idmodulovideos ?>);"><i class="icon-list-alt"></i> <?php echo $video->titulo ?></a></li>
                <?php endforeach; ?>
            </ul>
        </div>
        <div class="btn-group">
            <button class="btn btn-success"><i class="icon-picture"></i> Imagenes</button>
            <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <?php foreach ($this->imagenes as $imagen): ?>
                    <li><a onclick=" actualizarDiv(2,<?php echo $imagen->idmoduloimagenes ?>);"><i class="icon-list-alt"></i> <?php echo $imagen->titulo ?></a></li>
                <?php endforeach; ?>
            </ul>
        </div>
        <div class="btn-group">
            <button class="btn btn-info"><i class="icon-comment"></i> Noticias</button>
            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <?php foreach ($this->noticias as $noticia): ?>
                    <li><a onclick=" actualizarDiv(3,<?php echo $noticia->idmodulonoticias ?>);"><i class="icon-list-alt"></i> <?php echo $noticia->titulo ?></a></li>
                <?php endforeach; ?>
            </ul>
        </div>
        <div class="btn-group">
            <button class="btn btn-danger"><i class="icon-film"></i> Youtube</button>
            <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <?php foreach ($this->youtubes as $noticia): ?>
                    <li><a onclick=" actualizarDiv(4,<?php echo $noticia->idmoduloyoutube ?>);"><i class="icon-list-alt"></i> <?php echo $noticia->titulo ?></a></li>
                <?php endforeach; ?>
            </ul>
        </div>

        <div id="selected" style="float: right;background-color: #0480be;border-radius: 10px;"><h1></h1></div>
    </div>
</div>