<link rel="stylesheet" href="<?php echo $this->baseUrl('/css/esquemas/listar.css')?>" />
<script type="text/javascript" src="<?php echo $this->baseUrl('/js/esquemas/listar.js')?>"></script>
<hgroup>
    <h2>Lista de esquemas</h2>
    <h5 class="btn pull-right"><a href="<?php echo $this->baseUrl('/esquema/agregar')?>"><i class="icon-plus-sign"></i>Agregar</a></h5>
</hgroup>
<table class="table table-bordered">
    <tr>
        <th>Titulo</th>
        <th>Instituciones</th>
        <th>Estado</th>
        <th style="width: 100px">Configuraciones</th>
        <th style="width: 50px;"></th>
    </tr>   

    <?php foreach ($this->esquemas as $esquema) : ?>
        <tr>
            <td><?php echo $esquema->titulo; ?></td>
            <td><?php echo $esquema->nombrei; ?></td>
            <td style='text-align: center ;color:<?php echo ($esquema->estado == 1) ? "green" : "red"; ?>'><?php echo ($esquema->estado == 1) ? "Activo" : "Inactivo"; ?></td>  
            <td><div id="esquema<?php echo $esquema->idesquemas; ?>" class="plantilla"></div></td>
            <td><button onclick="location.href='<?php echo $this->baseUrl("/esquema/update/esquema/".$esquema->idesquemas) ?>'" class="btn"><i class="icon-pencil" ></i>Editar</button><button onclick="if(confirm('Esta seguro'))location.href=baseUrl+'esquema/delete/idesquemas/<?php echo $esquema->idesquemas; ?>'" class="btn btn-danger"><i class="icon-remove-sign"></i>Eliminar</button></td>
        </tr>
        <script type="text/javascript">
            $("#esquema<?php echo $esquema->idesquemas; ?>").load('<?php echo $this->baseUrl($esquema->url) ?>index.php');
        </script>
    <?php endforeach; ?>
    <?php if (count($this->esquemas)): ?>
        <?php echo $this->esquemas; ?></div>
<?php endif; ?>
</table>
