<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('/css/esquemas/agregar.css')?>"/>
<script type="text/javascript" src="<?php echo $this->baseUrl('/js/esquemas/agregar.js')?>"></script>
<hgroup>
    <h2>Actualizar esquema</h2>
</hgroup>
<div class="text-right">
    <a class="btn" href="<?php echo $this->baseUrl('/esquema/listar')?>"><i class="icon-list-alt"></i>Listar</a>
</div>
<div id="izquierda">
    <?php echo $this->form ?>
</div>
<div id="derecha">
</div>