<link type="text/css" rel="stylesheet" href="<?php echo $this->baseUrl('/css/noticias/agregar.css') ?>"/>
<hgroup>
    <h2>Crear lista de youtube</h2>
    <h5 class="btn pull-right"><a href="/noticia/listar"><i class="icon-list-alt"></i>Listar</a></h5>
</hgroup>
<div class="izquierda">
    <?php echo $this->form; ?>
</div>