<link type="text/css" rel="stylesheet" href="<?php echo $this->baseUrl('/css/noticias/listar.css') ?>"/>
<hgroup>
    <h2>Listas de yotube</h2>
    <h5 class="btn pull-right"><a href="<?php echo $this->baseUrl('/youtube/agregar') ?>"><i class="icon-plus-sign"></i>Crear</a></h5>
</hgroup>
<div id="tabla">
    <table class="table table-bordered">
        <tr>
            <th>Titulo</th>
            <th style="width: 10px;" colspan="2"></th>
        </tr>
        <?php foreach ($this->listas as $lista) : ?>
            <tr>
                <td><?php echo $lista->titulo; ?></td>
                <td style="width: 70px;">
                    <a  class="btn btn-info btn-mini" href="<?php echo $this->baseUrl('youtube/update/idmodulo/' . $lista->idmoduloyoutube) ?>"><i class="icon-pencil"></i>Detalles</a>
                </td>
                <td style="width: 70px;"><button  onclick="if (confirm('Esta seguro'))
                            location.href = baseUrl + 'youtube/eliminarlista/idlista/<?php echo $lista->idmoduloyoutube; ?>'" class="btn btn-danger btn-mini"><i class="icon-remove-sign"></i>Eliminar</button></td>
            </tr>
<?php endforeach; ?>
    </table>
</div>