<link type="text/css" rel="stylesheet" href="<?php echo $this->baseUrl('/css/noticias/agregar.css') ?>"/>
<script type="text/javascript" src="<?php echo $this->baseUrl('/js/noticias/update.js') ?>"></script>
<hgroup>
    <h2>Videos de la lista</h2>    
</hgroup>
<div class="text-right">
    <a class="btn" href="<?php echo $this->baseUrl('/youtube/listar') ?>"><i class="icon-plus-sign"></i>Listar</a>
</div>
<div class="izquierda">
    <h3>Nueva noticia</h3>
    <?php echo $this->form; ?>
</div>
<div class="derecha">
    <table class="table table-bordered">
        <tr>
            <th>Codigo</th>
            <th>Url</th>
            <th>Fecha</th>
            <th></th>
        </tr>
        <?php foreach ($this->noticias as $lista) : ?>
            <tr>
                <td><?php echo $lista->url; ?></td>
                <td><a target="_blank" href="https://www.youtube.com/watch?v=<?php echo $lista->url; ?>">https://www.youtube.com/watch?v=<?php echo $lista->url; ?></a></td>
                <td><?php echo $lista->fecharegistro; ?></td> 
                <th style="width: 10px"><button onclick="if (confirm('Esta seguro'))
                            $.post(baseUrl + 'youtube/eliminaryoutube/idnoticia/<?php echo $lista->idyoutubes ?>', function (date) {
                                if (date == 'OK')
                                    location.href = location.href;
                            });" class="btn btn-danger btn-mini"><i class="icon-remove-sign"></i></button></th>

            </tr>
<?php endforeach; ?>
    </table>
</div>