body{

}
#imagen{
    float: left;
    height: 320px;
    width: 320px;
    margin-left: 15%;
    border-radius: 5px;
    padding: 5px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.05);
}
#img{
    width: 100%;
    height: 100%;
}
#agregar{
    float: left;
}
