@media (min-width: 979px){
    body {
        padding-top: 60px;
        padding-bottom: 40px;
    }
}
#wraper{
    background-color: #0055cc;
}
.sidebar-nav {
    padding: 9px 0;
}
.contenedor{
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
    padding: 15px;
    moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
}
.margenes{
    border-radius: 5px;
    padding: 15px;
    moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
}