<link rel="stylesheet" href="<?php echo $this->baseUrl('/css/instituciones/agregar.css')?>" />
<script type="text/javascript" src="<?php echo $this->baseUrl('/js/instituciones/agregar.js')?>"></script>
<hgroup>
    <h2>Agregar Institucion</h2>
    <h5 class="btn pull-right"><a href="<?php echo $this->baseUrl('/institucion/listar')?>"><i class="icon-list-alt"></i>Listar</a></h5>
</hgroup>
<div id="agregar">
    <?php echo $this->form ?>
</div>
<div id="imagen">
    <img id="img" />
    <input type="file" id="logotipo" accept="image/*"/>
</div>