<hgroup>
    <h2>Lista de Instituciones</h2>
    <h5 class="btn pull-right"><a href="<?php echo $this->baseUrl('/institucion/agregar')?>"><i class="icon-plus-sign"></i>Agregar</a></h5>
</hgroup>
<div>
    <table class="table table-bordered">

        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>            
        </tr>        
        <?php if (count($this->instituciones)): ?>

            <?php foreach ($this->instituciones as $institucion): ?>
                <?php if ($institucion->idinstituciones != 1) : ?>
                    <tr>
                        <td style="width: 28px"><img src="<?php echo $this->baseUrl($institucion->logo) ?>" style="width: 28px; height:28px; border-radius: 2px" /></td>
                        <td><?php echo $institucion->nombre ?></td>
                        <td><?php echo $institucion->direccion ?></td>
                        <td><?php echo $institucion->telefono ?></td>
                        <td style="width: 70px;"><button class="btn" onclick="location.href=baseUrl+'institucion/update/idinstituciones/<?php echo $institucion->idinstituciones ?>'"><i class="icon-pencil" ></i>Editar</button></td>
                        <td style="width: 90px;"><button class="btn btn-danger"><i class="icon-remove-sign"></i>Eliminar</button></td>
                    </tr>
                <?php endif; ?>
            <?php endforeach; ?>
        <?php else: ?>
            <tr><td colspan="3">No hay instituciones registradas</td></tr>
        <?php endif; ?>

    </table>
    <?php if (count($this->instituciones)): ?>
        <?php echo $this->instituciones; ?>
    <?php endif; ?>
</div>