<link rel="stylesheet" href="<?php echo $this->baseUrl('/css/instituciones/agregar.css')?>" />
<script type="text/javascript" src="<?php echo $this->baseUrl('/js/instituciones/agregar.js')?>"></script>
<h2>Editar Institución</h2>
<div id="agregar">
    <?php echo $this->form ?>
</div>
<div id="imagen">
    <img id="img" src=""/>
    <input type="file" id="logotipo"/>
</div>