#configurar
{
    width: 100%;
    height: 400px;
}
#izquierda{
    margin-top: 28px;
    float: left;
    height: 100%;
    width: 50%;
    overflow: scroll;
    background-color: lightgray; 
}

#izquierda div{
    float: left;
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 5px;
    background-color: lightgray;   
}
#izquierda div div{
    width: 100px;
    background-color: #0055cc;
    height: 0px;
    margin:0;
    overflow: no-display;
}
.btn-eliminar{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
    float: right;
}
#izquierda div img{
    border-radius: 5px;
}
#derecha{
    float: right;
    height: 100%;
    width: 50%;
    overflow: scroll;
    background-color: lightgray; 
}
#derecha div{
    float: left;
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 5px;
    background-color: lightgray;   
}
#derecha div div{
    width: 100px;
    height: 0px;
    margin:0;
    overflow: no-display;
}