body{

}
.btn-player{
    border-radius: 10px;
    background-color: limegreen;
    width: 20px;
    height: 20px;
}
#tabla-listas{
    width: 100%;
}
#izquierda{
    width: 50%;
    height: 460px;
    overflow: scroll;
    float: left;
}
#izquierda div{
   float: left;
}
#reproductor{
    width: 100%;
    height: 300px;
}
#derecha{
    float: left;
    width: 50%;
    height: 460px;
    background-color: #f5f5f5;
}
#tabla{
    width: 100%;
    height: 140px;
    overflow: scroll;
    background-color: #fff;
}
