<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">        
        <link href="<?php echo $this->baseUrl('/css/pantallas/index.css') ?>" type="text/css" rel="stylesheet"/>
        <link href="<?php echo $this->baseUrl('/css/flick/jquery-ui-1.10.4.custom.min.css') ?>" type="text/css" rel="stylesheet"/>
        <script type="text/javascript" src="<?php echo $this->baseUrl('/js/jquery.js') ?>"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl('/js/jquery-ui-1.10.4.custom.min.js') ?>"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl('/js/pantallas/index.js') ?>"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl('/js/flowplayer/flowplayer-3.2.11.min.js') ?>"></script>
        <script>
            var baseUrl = "<?php echo $this->baseUrl('/') ?>";
            var pantallaId = <?php echo $this->monitor->idmonitores ?>
        </script>
    </head>
    <body> 
        <input type="hidden" id="idconf" value="<?php echo $this->monitor->idconfiguraciones ?>"/>
        <?php include $this->monitor->url . "/index.php"; ?>
        <script type="text/javascript">
<?php foreach ($this->divs as $div) { ?>
                $("#div<?php echo $div->numdiv ?>").load(baseUrl + "modulo/index/?modulo=<?php echo $div->tipomodulo ?>&idmodulo=<?php echo $div->idmodulo ?>");
<?php } ?>
        </script>
    </body>
</html>
