#derecho{
    width: 50%;
    margin-left: 50%;
}
#izquierdo{
    float: left;
    width: 45%;
}
#lista{
    width: 100%;
    overflow: scroll;
    float: right;
    height: 100px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.05);
}
#lista ul li{   
    margin-bottom: 2px;
    list-style: none;
}
#lista ul li:hover{    
    background-color: #0088cc;
}
#reproductor{
    float: right;
    width: 100%;
    height: 320px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 10px;
}