#configurar{
    height: 400px;
}
#izquierda{
    width: 30%;
    height: 100%;
    float: left;
    overflow: scroll;
}
#centro
{
    margin-top: 28px;
    width: 40%;
    height: 100%;
    float: left;
}
#derecha{
    width: 30%;
    height: 100%;
    float: right;    
    overflow: scroll;
}
#configurar button{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.play{
    background-color: green;
}
#reproductor{
    width: 100%;
    height: 300px;
    background-color: #000000;
}