<?php if ($this->pageCount): ?>
    <div class="paginationControl">
        <!-- Previous page link -->
        <?php if (isset($this->previous)): ?>
            <a href="<?php echo $this->url(array('page' => $this->previous)); ?>">
                <i class="icon-backward"></i> Anterior
            </a> |
        <?php else: ?>
            <span class="disabled"><i class="icon-backward"></i> Anterior</span> |
        <?php endif; ?>

        <!-- Numbered page links -->
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <a href="<?php echo $this->url(array('page' => $page)); ?>">
                    <?php echo $page; ?>
                </a> |
            <?php else: ?>
                <?php echo $page; ?> |
            <?php endif; ?>
        <?php endforeach; ?>

        <!-- Next page link -->
        <?php if (isset($this->next)): ?>
            <a href="<?php echo $this->url(array('page' => $this->next)); ?>">
                Siguiente <i class="icon-forward"></i>
            </a>
        <?php else: ?>
            <span class="disabled">Siguiente <i class="icon-forward"></i></span>
        <?php endif; ?>
    </div>
<?php endif; ?>