<script type="text/javascript" src="<?php echo $this->baseUrl('/js/templates/listar.js') ?>"></script>
<link type="text/css" rel="stylesheet" href="<?php echo $this->baseUrl('/css/templates/listar.css') ?>"/>
<hgroup>
    <h2>Lista de Plantillas</h2>    
</hgroup>
<div class="text-right">
    <a class="btn" href="<?php echo $this->baseUrl('/template/agregar') ?>"><i class="icon-plus-sign"></i>Agregar</a>
</div>
<div id="plantillas">
    <?php if (count($this->templates)) : ?>
        <?php foreach ($this->templates as $plantilla): ?>
            <div class="plantilla" id="x<?php echo $plantilla->idtemplates; ?>"></div> 
            <script type="text/javascript">crearPlantilla(<?php echo $plantilla->idtemplates; ?>, "<?php echo $this->baseUrl($plantilla->url); ?>", "<?php echo $plantilla->titulo; ?>");</script>
        <?php endforeach; ?>         
    </div>


<?php else: ?>

<?php endif; ?>
<?php if (count($this->templates)): ?>
    <div class="paginador">
        <?php echo $this->templates; ?>
    </div>
<?php endif; 