<link href="<?php echo $this->baseUrl('/css/imagenes/configurar.css') ?>" rel="stylesheet"/>
<script src="<?php echo $this->baseUrl('/js/imagenes/agregar.js') ?>" type="text/javascript"></script>
<hgroup>
    <h2>Imagenes de la animacion</h2>
</hgroup>
<div class="text-right">
    <a class="btn pull-right" href="<?php echo $this->baseUrl('/imagen/listar') ?>"><i class="icon-list-alt"></i>Listar</a>
</div>
<div id="configurar">
    <div id ="izquierda">
        <h3>Imagenes selecionadas</h3>
        <?php foreach ($this->imagenes as $imagen): ?>
            <div>
                <div><img width="100" height="100" src="<?php echo $this->baseUrl($imagen->url) ?>"/></div>
                <button onclick="if(confirm('Esta seguro'))$.post(baseUrl + 'imagen/eliminarurl/id/<?php echo $imagen->idimagenes ?>',function(data){if(data=='OK')location.href=location.href;});" class="btn-mini btn-danger">Eliminar</button>
            </div>
        <?php endforeach; ?>
    </div>
    <div id="derecha">
        <h3>Imagenes disponibles</h3>
        <?php foreach ($this->dispo as $imagen): ?>
            <div>
                <div><img width="100" height="100" src="<?php echo $this->baseUrl("/uploads/imagenes/$imagen") ?>"/></div>
                <button onclick="location.href = baseUrl+'imagen/agregarurl?id=<?php echo $this->id ?>&imagen=<?php echo $imagen ?>'" class="btn-mini btn-info">Selecionar</button>
            </div>
        <?php endforeach; ?>
    </div>
</div>
<div style="clear: both"></div>
<input id="imagen" accept = 'image/*' type="file"/>