<link type="text/css" rel="stylesheet" href="<?php echo $this->baseUrl('/css/imagenes/listar.css') ?>"/>
<hgroup>
    <h2>Lista de animaciones</h2>
</hgroup>
<div class="text-right">
    <a class="btn" href="<?php echo $this->baseUrl('/imagen/agregar"><i class="icon-plus-sign') ?>"></i>Crear</a>
</div>
<div id="izquierda">
    <table id="tabla-listas" class="table table-bordered">

        <?php foreach ($this->paginator as $lista): ?>
            <tr>
                <td  style="width: 10px;"><button onclick="if (confirm('Esta seguro'))
                            location.href = baseUrl + 'imagen/eliminarlista/idlista/<?php echo $lista->idmoduloimagenes ?>'" style="background-color: red;" class="btn-player"><i class="icon-remove-sign"></i></button></td>
                <td  style="width: 10px;"><i class="icon-picture"></i></td>
                <td ><?php echo $lista->titulo; ?></td>
                <td  style="width: 10px;"><i class="<?php echo ($lista->aleatorio == '1') ? 'icon-random' : ''; ?>"></i></td>
                <td  style="width: 10px;"><i class="<?php echo ($lista->repetir == '1') ? 'icon-retweet' : ''; ?>"></i></td>
                <td style="width: 10px;" ><button onclick="$('#derecha').load(baseUrl + 'modulo/imagen/idmodulo/<?php echo $lista->idmoduloimagenes ?>');" class="btn-player"><i class="icon-play"></i></button></td>
                <td style="width: 10px;" ><button onclick="location.href = baseUrl + 'imagen/update/id/<?php echo $lista->idmoduloimagenes ?>'" style="background-color:cornflowerblue" class="btn-player"><i class="icon-pencil"></i></button></td>
            </tr>
        <?php endforeach; ?>
    </table>
</div>
<div id="derecha"></div>
