<hgroup>
    <h2>Actualizar animacion</h2>
    <h5 class="btn pull-right"><a href="<?php echo $this->baseUrl('/imagen/listar') ?>"><i class="icon-list-alt"></i>Listar</a></h5>
</hgroup>
<div id="form">
    <?php echo $this->form; ?>
</div>