#izquierda{
    width: 240px;
    float: left;
}
#derecha{
    float: left;
    height: 400px;
    width: 60%;
    width: -moz-calc(100% - 270px);
    width: -webkit-calc(100% - 270px);
    width: calc(100% - 270px);
    border-radius: 5px;
    padding: 10px;   
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.05);
}