body{
    
}
#divPlantilla{
    width: 99%;
    height: 450px;
    border-radius: 5px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.05);
}
#botones .btn-group{
    float: left;
}
.div-selected{
    box-shadow: inset 0px 0px 10px 15px rgba(0,0,0,0.6);
}
.div-no-selected{
    box-shadow: none;
}
