<!DOCTYPE HTML>
<?php
$log = false;
$session = new Zend_Session_Namespace('session');
if (isset($session->usuario)) {
    $log = true;
    $usuario = $session->usuario;
    $institucion = $this->instituciones(($session->institucion == 1) ? 0 : $session->institucion);
    $id = ($session->institucion < 2) ? true : false;
}
?>
<html lang="es_mx">
    <head>
        <meta charset="UTF-8" />
        <title>SAM</title>
        <link rel="shortcut icon" href="<?php echo $this->baseUrl('/img/favicon.ico') ?>">
        <link type="text/css" rel="stylesheet" href="<?php echo $this->baseUrl('/css/bootstrap.css') ?>"/>
        <link type="text/css" rel="stylesheet" href="<?php echo $this->baseUrl('/css/bootstrap-responsive.css') ?>"/>
        <link type="text/css" rel="stylesheet" href="<?php echo $this->baseUrl('/css/jquery/dark-hive/jquery-ui.css') ?>"/>
        <?php if ($log): ?>   
            <link type="text/css" rel="stylesheet" href="<?php echo $this->baseUrl('/css/message/jquery.message.css') ?>"/>
            <link type="text/css" rel="stylesheet" href="<?php echo $this->baseUrl('/css/layout.css') ?>"/>
        <?php endif; ?>
        <script type="text/javascript" src="<?php echo $this->baseUrl('/js/jquery.js') ?>"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl('/js/bootstrap.js') ?>"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl('/js/jquery-ui/jquery-ui.js') ?>"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl('/js/message/jquery.message.js') ?>"></script>
        <script type="text/javascript">
            var baseUrl = "<?php echo $this->baseUrl('/') ?>";
        </script>
    </head>
    <body>
        <?php if ($log): ?>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="<?php echo $this->baseUrl('/') ?>">S A M</a>
                        <div class="btn-group pull-right">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-user"></i><?php echo $usuario->nombre; ?>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-heart"></i>Perfil</a></li>
                                <li><a href="<?php echo $this->baseUrl('/usuario/logout') ?>"><i class="icon-off"></i>Salir</a></li>
                            </ul>
                        </div>
                        <?php if ($institucion): ?>
                            <?php if ($usuario->nivel < 1): ?>
                                <button class="btn pull-right btn-primary" onclick="location.href = baseUrl + 'institucion/selecionar/id/0';">
                                    <i class="icon-eject"></i><?php echo $institucion['nombre']; ?>
                                </button>
                            <?php else: ?>
                                <span class="btn btn-primary pull-right">
                                    <i class="icon-briefcase"></i><?php echo $institucion['nombre']; ?>
                                </span>
                            <?php
                            endif;
                        else:
                            ?>
                            <span class="btn btn-primary pull-right">
                                <i class="icon-wrench"></i>Administrador
                            </span>
                        <?php endif; ?>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li><a href="<?php echo $this->baseUrl('/file') ?>"><i class="icon-folder-open icon-white"></i>Archivos</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list icon-white"></i>Listas <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="<?php echo $this->baseUrl('/youtube/listar') ?>"><i class="icon-film"></i> Youtube</a></li>
                                        <li><a href="<?php echo $this->baseUrl('/noticia/listar') ?>"><i class="icon-comment"></i> Noticias</a></li>
                                        <li><a href="<?php echo $this->baseUrl('/imagen/listar/') ?>"><i class="icon-picture"></i> Animaciones</a></li>
                                        <li><a href="<?php echo $this->baseUrl('/video/listar') ?>"><i class="icon-film"></i> Videos</a></li>
                                    </ul>
                                </li>
                                <li><a href="<?php echo $this->baseUrl('/template/listar"><i class="icon-th-large icon-white') ?>"></i>Plantillas</a></li>
                                <li><a href="<?php echo $this->baseUrl('/esquema/listar') ?>"><i class=" icon-cog icon-white"></i>Esquemas</a></li>                                
                                <?php if ($usuario->nivel < 2): ?>
                                    <li><a href="<?php echo $this->baseUrl('/monitor/listar') ?>"><i class="icon-eye-open icon-white"></i>Monitores</a></li>
                                    <li><a href="<?php echo $this->baseUrl('/usuario/listar') ?>"><i class="icon-user icon-white"></i>Usuarios</a></li>   
                                <?php endif; ?>

                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>


            <div class="container-fluid">
                <div class="row-fluid">
                    <?php if ($id) : ?>
                        <div class="span3">
                            <div class="well sidebar-nav">
                                <ul class="nav nav-list">
                                    <li class="nav-header"><a href="<?php echo $this->baseUrl('/institucion/listar') ?>"><i class="icon-list-alt"></i>Instituciones</a></li>                            

                                    <?php foreach ($this->instituciones() as $institucion): if ($institucion->idinstituciones != 1) { ?>
                                            <li><a href="<?php echo $this->baseUrl('/institucion/selecionar/id/' . $institucion->idinstituciones); ?>"><i class="icon-star"></i><?php echo $institucion->nombre; ?></a></li>
                                        <?php } endforeach; ?>                             

                                    <li><a href="<?php echo $this->baseUrl('/institucion/agregar') ?>"><i class="icon-plus-sign"></i>Agregar institucion</a></li>
                                </ul>
                            </div><!--/.well -->
                        </div><!--/span-->
                    <?php endif; ?> 
                    <div class="<?php
                    echo ($id) ? "span9 margenes" : "contenedor";
                    ?>">                    
                        <div class="row-fluid" id="contenedor" >
                        <?php endif; ?>
                        <?php echo $this->layout()->content; ?>
                        <?php if ($log): ?>
                        </div><!--/row-->
                    </div><!--/span-->
                </div><!--/row-->

                <hr>

                <footer>
                    <p> </p>
                </footer>

            </div>
        <?php endif; ?>
    </body>
</html>