<!-- jQuery and jQuery UI (REQUIRED) -->
<link type="text/css" rel="stylesheet" href="<?php echo $this->baseUrl('/css/flick/jquery-ui-1.10.4.custom.css') ?>"/>
<script type="text/javascript" src="<?php echo $this->baseUrl('/js/jquery.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/js/jquery-ui1.8.min.js') ?>"></script>

<!-- elFinder CSS (REQUIRED) -->
<link type="text/css" rel="stylesheet" href="<?php echo $this->baseUrl('/css/elfinder.min.css') ?>"/>
<link type="text/css" rel="stylesheet" href="<?php echo $this->baseUrl('/css/theme.css') ?>"/>

<!-- elFinder JS (REQUIRED) -->
<script type="text/javascript" src="<?php echo $this->baseUrl('/js/elfinder.min.js') ?>"></script>

<!-- elFinder initialization (REQUIRED) -->
<script type="text/javascript" charset="utf-8">
    $().ready(function() {
        var elf = $('#elfinder').elfinder({
            url: "<?php echo $this->baseUrl('php/connector.php') ?>"  // connector URL (REQUIRED)
                    // lang: 'ru',             // language (OPTIONAL)
        }).elfinder('instance');
    });
</script>
<div id="elfinder"></div>
