<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('/css/videos/agregar.css') ?>"/>
<hgroup>
    <h2>Crear lista de reproduccion</h2>
    <h5 class="btn pull-right"><a href="<?php echo $this->baseUrl('/video/listar') ?>"><i class="icon-list-alt"></i>Regresar</a></h5>
</hgroup>
<div id="izquierdo">
    <?php echo $this->form ?>
</div>