<link type="text/css" rel="stylesheet" href="<?php echo $this->baseUrl('/css/videos/configurar.css')?>"/>
<script type="text/javascript" src="<?php echo $this->baseUrl('/js/videos/agregar.js')?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/js/flowplayer/flowplayer-3.2.11.min.js')?>"></script>
<hgroup>
    <h2>Lista de videos</h2>
</hgroup>
<div class="text-right">
    <a class="btn" href="<?php echo $this->baseUrl('/video/listar')?>"><i class="icon-list-alt"></i>Listar</a>
</div>
<div id="configurar">
    <div id="izquierda" >
        <table class="table table-bordered">
            <?php foreach ($this->videos as $video): ?>
                <tr>
                    <td><button onclick="if(confirm('Esta seguro'))$.post(baseUrl+'video/eliminarurl/id/<?php echo $video->idvideos ?>',function(data){if(data=='OK')location.href=location.href;});" class="btn-danger"><i class="icon-remove-sign"></i></button></td><td><?php echo $video->titulo; ?></td><td><button onclick="reproducirVideo('<?php echo $this->baseUrl($video->url) ?>');" class="play"><i class="icon-play"></i></button></td>
                </tr>
            <?php endforeach; ?>
        </table>
    </div>
    <div id="centro">
        <input type="file" id="video" accept="video/*" />
        <div id="reproductor"></div>
    </div>
    <div id="derecha">
        <table class="table table-bordered">
            <?php foreach ($this->dispo as $video): ?>
                <tr>
                    <td><button  onclick="location.href=baseUrl+'video/agregarurl?id=<?php echo $this->id; ?>&video=<?php echo $video ?>'" class="btn-info"><i class="icon-plus-sign"></i></button></td><td><?php echo $video ?></td><td><button onclick="reproducirVideo(baseUrl+'uploads/videos/<?php echo $video; ?>');" class="play"><i class="icon-play"></i></button></td>
                </tr>
            <?php endforeach; ?>
        </table>
    </div>
</div>