<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('/css/videos/listar.css')?>"/>
<script type="text/javascript" src="<?php echo $this->baseUrl('/js/videos/listar.js')?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/js/flowplayer/flowplayer-3.2.11.min.js')?>"></script>
<hgroup>
    <h2>Listas de reproduccion</h2>
</hgroup>
<div class="text-right">
    <a class="btn" href="<?php echo $this->baseUrl('/video/agregar')?>"><i class="icon-plus-sign"></i>Crear</a>
</div>
<div id="izqierda">
    <table id="tabla-listas" class="table table-bordered">

        <?php foreach ($this->modulovideos as $lista): ?>
            <tr>
                <td  style="width: 10px;"><button onclick="if(confirm('Esta seguro'))location.href=baseUrl+'video/eliminarlista/idlista/<?php echo $lista->idmodulovideos ?>'" style="background-color: red;" class="btn-player"><i class="icon-remove-sign"></i></button></td>
                <td  style="width: 10px;"><i class="icon-film"></i></td>
                <td ><?php echo $lista->titulo; ?></td>
                <td  style="width: 10px;"><i class="<?php echo ($lista->aleatorio == '1') ? 'icon-random' : ''; ?>"></i></td>
                <td  style="width: 10px;"><i class="<?php echo ($lista->repetir == '1') ? 'icon-retweet' : ''; ?>"></i></td>
                <td style="width: 10px;" ><button onclick="cargarLista(<?php echo $lista->idmodulovideos; ?>)" class="btn-player"><i class="icon-play"></i></button></td>
                <td style="width: 10px;" ><button onclick="location.href=baseUrl+'video/configurar/id/<?php echo $lista->idmodulovideos ?>'" style="background-color:cornflowerblue" class="btn-player"><i class="icon-pencil"></i></button></td>
            </tr>
        <?php endforeach; ?>
    </table>
</div>
<div id="derecha">
    <div id="reproductor">
        <a  
            href=""
            style="display:block;width:100%;height:100%;"  
            id="player"> 
        </a> 
        <script>
            flowplayer("player", baseUrl + "js/flowplayer/flowplayer-3.2.12.swf");
        </script>
    </div>
    <div id="tabla">
        <table id="lista" class="table table-bordered" >

        </table>
    </div>
</div>

