body{
    background-image: url(../../img/background.png);
}
#login{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 10px;   
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.05);
}
#Ingresar{     
    margin-left: 80px;
}

.logo{
    width: 120px;
    height: 99px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../../img/login/logo.png);
}