#plantillas
{
    clear: right;
    padding: 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    
}
#plantillas h1{
    margin: 0;
}
.plantilla{
    display: inline-block;
    width:48%;
    height: 200px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 30px;
}

.paginador{
    text-align: center;
    margin-top: 20px;
}