<script type="text/javascript" src="<?php echo $this->baseUrl('/js/monitores/detalles.js') ?>"></script>
<link rel="stylesheet" href="<?php echo $this->baseUrl('/css/monitores/listar.css') ?>"/>
<hgroup>
    <h2>Lista de monitores</h2>
    <h5 class="btn pull-right"><a href="<?php echo $this->baseUrl('/monitor/agregar') ?>"><i class="icon-plus-sign"></i>Agregar</a></h5>
</hgroup>
<div>
    <table class="table table-bordered">

        <tr>
            <th style="width: 40px">Identificador</th>            
            <th>Direccion IP</th> 
            <th>Marca</th>
            <th>Modelo</th>  
            <th>Ultima conexión</th>  
        </tr>        
        <?php if (count($this->monitores)): ?>

            <?php foreach ($this->monitores as $monitor): ?>
                <tr>
                    <td><a class="btn btn-info" title="Ver" target="_blank" href="<?php echo $this->baseUrl('/pantalla/?id=' . $monitor->idmonitores) ?>"><?php echo $monitor->idmonitores; ?> <i class="icon-eye-open" ></i></a></td>
                    <td><?php echo $monitor->ip; ?></td>
                    <td><?php echo $monitor->marca; ?></td>
                    <td><?php echo $monitor->modelo; ?></td>
                    <td>
                        <?php
                        if($monitor->ultimavista):
                            $datetime1 = new DateTime($monitor->ultimavista);
                            $datetime2 = new DateTime();
                            $interval = $datetime1->diff($datetime2);
                            echo $interval->format("%H:%I:%S");
                        endif;
                        ?>
                    </td>
                    <td style="width: 90px;"><button onclick="detalles(<?php echo $monitor->idmonitores; ?>)" class="btn btn-info"><i class="icon-fullscreen" ></i>Detalles</button></td>
                    <td style="width: 70px;"><button class="btn" onclick="location.href = baseUrl + 'monitor/update/idmonitores/<?php echo $monitor->idmonitores ?>'"><i class="icon-pencil" ></i>Editar</button></td>
                    <td style="width: 90px;"><button class="btn btn-danger" onclick="if (confirm('Esta seguro'))
                                location.href = baseUrl + 'monitor/delete/idmonitores/<?php echo $monitor->idmonitores; ?>'"><i class="icon-remove-sign"></i>Eliminar</button></td>
                </tr>
            <?php endforeach; ?>
        <?php else: ?>
            <tr><td colspan="3">No hay monitores registrados</td></tr>
        <?php endif; ?>

    </table>
    <?php if (count($this->monitores)): ?>
        <?php echo $this->monitores; ?>
    <?php endif; ?>
</div>
<div style="display: none;" id="myModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Detalles del monitor</h3>
    </div>
    <div id="contenido" class="modal-body"></div>
</div>