<link rel="stylesheet" href="<?php echo $this->baseUrl('/css/monitores/agregar.css')?>" />
<script type="text/javascript" src="<?php echo $this->baseUrl('/js/monitores/agregar.js')?>"></script>
<hgroup>
    <h2>Editar Monitor</h2>
    <h5 class="btn pull-right"><a href="<?php echo $this->baseUrl('/monitor/listar')?>"><i class="icon-list-alt"></i>Listar</a></h5>
</hgroup>
<div id="form"><?php echo $this->form; ?>

</div>

<div id="esquema" class="well">

</div>
